/* Fonts */
@font-face {
	font-family: 'KomikaTitle-PaintRegular';
	src: url('../fonts/open-sans/KomikaTitle-Paint-webfont.eot');
	src: url('../fonts/open-sans/KomikaTitle-Paint-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/KomikaTitle-Paint-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/open-sans/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-Semibold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Typeography */
p, a {
	font-family: 'OpenSansSemiBold', sans-serif;
	color: #FFFFFF;
	font-size: 22px;
	line-height: 24px;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

/* Navigation */
nav {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	text-align: center;
	z-index: 100;
}

nav div.background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

nav ul {
	margin: 0;
}

nav li {
	display: inline;
	padding: 0 27px;
}

nav a {
	line-height: 32px;
	text-transform: uppercase;
	font-size: 18px;
	vertical-align: middle;
}

/* Header */
header {
	padding-top: 72px;
}

header h1 {
	overflow: hidden;
	width: 487px;
	height: 0;
	padding-top: 426px;
	background: transparent url('../images/logo.png') no-repeat top left;
	margin: 0 auto;
}

/* Backgrounds */
.background {
	background-repeat: repeat;
	background-position: left top;
}

.blue.background {
	background: #80C1D6 url('../images/textures/blue.png');
}

.orange.background {
	background: #FE6638 url('../images/textures/orange.png');
}

.green.background {
	background: #80B238 url('../images/textures/green.png');
}

.transparent.background {
	background-color: #0F2830;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
	-moz-opacity: 0.05;
	-khtml-opacity: 0.05;
	opacity: 0.05;
}