/* Development styles - Remove when done */
div.design-overlay {
	position: absolute;
	left: 0;
	top: 0;
	background: transparent url('../images/design.jpg') no-repeat center top;
	width: 100%;
	height: 4000px;
	opacity: 0.2;
}

/* Fonts */
@font-face {
	font-family: 'KomikaTitle-PaintRegular';
	src: url('../fonts/komika-title/KomikaTitle-Paint-webfont.eot');
	src: url('../fonts/komika-title/KomikaTitle-Paint-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/komika-title/KomikaTitle-Paint-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/open-sans/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-Semibold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Typeography */
p, a, a:visited {
	font-family: 'OpenSansSemiBold', sans-serif;
	color: #FFFFFF;
	font-size: 22px;
	line-height: 24px;
}

a:hover {
	color: #FFFFFF;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

h2 {
	font-family: 'KomikaTitle-PaintRegular', sans-serif;
	font-size: 39px;
	color: #FFFFFF;
	line-height: 90px;
	padding-top: 23px;
	padding-left: 15px;
	letter-spacing: 2px;
	overflow: hidden;
	height: 90px;
}

h2 img {
	float: right;
	margin-top: 27px;
}

.orange h2 {
	text-shadow: 4px 4px 0px #CB522D;
	filter: dropshadow(color=#CB522D, offx=5, offy=5);
}

/* Navigation */
nav {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	text-align: center;
	z-index: 100;
}

nav div.background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

nav ul {
	margin: 0;
}

nav li {
	display: inline;
	padding: 0 12px;
}

nav a {
	line-height: 32px;
	text-transform: uppercase;
	font-size: 18px;
	vertical-align: middle;
	text-decoration: none;
	padding: 0 12px;
	color: #FFFFFF;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-transition: background 300ms ease;
	-moz-transition: background 300ms ease;
	-o-transition: background 300ms ease;
	transition: background 300ms ease;
}

nav a:hover, nav a.current {
	text-decoration: none;
	background: rgb(150, 150, 150);
	background: rgba(0, 0, 0, 0.2);
}

/* Header */
header {
	padding-top: 72px;
	text-align: center;
}

header img.logo {
	overflow: hidden;
	padding-right: 70px;
	max-width: 100%;
}

header h1 {
	font-family: 'KomikaTitle-PaintRegular', sans-serif;
	font-size: 51px;
	line-height: 69px;
	color: #FE6537;
	margin-top: 25px;
	margin-bottom: 7px;
	text-transform: uppercase;
	letter-spacing: 2pt;
	
	text-shadow: 3px 3px 0px #F2F2F2;
	filter: dropshadow(color=#F2F2F2, offx=3, offy=3);
}

header p {
	font-size: 22px;
	line-height: 28px;
	padding-bottom: 80px;
	margin-bottom: 0;
}

div.splat {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent url('../images/splat.png') no-repeat 41% top;
	padding-left: -58px;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=9)";
	filter: alpha(opacity=9);
	-moz-opacity: 0.09;
	-khtml-opacity: 0.09;
	opacity: 0.09;
}

/* Backgrounds */
.background {
	background-repeat: repeat;
	background-position: left top;
	position: relative;
}

.blue.background {
	background: #80C1D6 url('../images/textures/blue.png');
}

.orange.background {
	background: #FE6638 url('../images/textures/orange.png');
}

.green.background {
	background: #80B238 url('../images/textures/green.png');
}

.transparent.background {
	background-color: #0F2830;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
	-moz-opacity: 0.05;
	-khtml-opacity: 0.05;
	opacity: 0.05;
}

/* Borders */
.border {
	position: absolute;
	left: 0;
	height: 7px;
	width: 100%;
	background-color: #000000;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=6)";
	filter: alpha(opacity=6);
	-moz-opacity: 0.06;
	-khtml-opacity: 0.06;
	opacity: 0.06;
}

.top.border {
	top: 0;
}

.bottom.border {
	bottom: 0;
}

/* Media queries */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	nav {
		/* Remove the fixed position on mobiles, they hate it, a lot! */
		position: absolute;
	}
	
	nav li {
		display: block;
		margin: 0;
	}
	
	header {
		padding-top: 120px;
	}
	
	nav li#back-to-top {
		display: none;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}