/* Navigation */
nav li {
	float: left;
}

nav li a {
	padding: 10px;
	background-color: #CCCCCC;
}

nav li a:hover {
	background-color: #AAAAAA;
}

/* Fonts */
@font-face {
	font-family: 'KomikaTitleRegular';
	src: url('../fonts/komika-title/KomikaTitle-webfont.eot');
	src: url('../fonts/komika-title/KomikaTitle-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/komika-title/KomikaTitle-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DigitaldreamRegular';
	src: url('../fonts/digital-dream/DIGITALDREAM-webfont.eot');
	src: url('../fonts/digital-dream/DIGITALDREAM-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/digital-dream/DIGITALDREAM-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');
	src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}